In [3]:
import pandas as pd


music_data = pd.read_csv('music.csv')
music_data.head()

   age  gender   genre
0   20       1  HipHop
1   23       1  HipHop
2   25       1  HipHop
3   26       1    Jazz
4   29       1    Jazz

In [4]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

X = music_data.drop(columns = 'genre')
Y = music_data['genre']
X_train, X_test, Y_train, Y_test = train_test_split( X, Y, test_size = 0.2)

model = DecisionTreeClassifier()

model.fit( X_train,Y_train )



predictions = model.predict( X_test )

score = accuracy_score( predictions , Y_test)
score

1.0